<h1 class="title" id="page-title">
    Labels
</h1>
<div class="row">
    <div class="col-md-11">
        <udb-query-search-bar search-label="Zoeken op labelnaam"
                              on-update="llc.queryChanged(query)"
        ></udb-query-search-bar>
    </div>
    <div class="col-md-1">
        <i ng-show="llc.loading" class="fa fa-circle-o-notch fa-spin"></i>
    </div>
</div>

<div class="row" ng-cloak ng-show="!llc.loading">
    <div class="col-md-12">
        <p ng-show="llc.query.length === 0">
            Schrijf een zoekopdracht in het veld hierboven om labels te tonen.
        </p>
        <p ng-show="llc.query.length && llc.pagedItemViewer.totalItems === 0">
            Geen labels gevonden.
        </p>
        <div class="manage-labels-search-results" ng-show="llc.pagedItemViewer.totalItems > 0">
            <div class="table-responsive" >
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Naam</th>
                        <th>Verborgen</th>
                        <th>Voorbehouden</th>
                        <th>Opties</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="label in llc.pagedItemViewer.items">
                        <td>{{ label.name }}</td>
                        <td>{{ label.visibility === "invisible" ? "Verborgen" : ""}}</td>
                        <td>{{ label.privacy === "private" ? "Voorbehouden" : ""}}</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Bewerken <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="/manage/label/{{ label.id }}">Bewerken</a></li>
                                    <li><a href="#">Verwijderen</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <uib-pagination
                        total-items="llc.pagedItemViewer.totalItems"
                        ng-model="llc.page"
                        items-per-page="llc.pagedItemViewer.itemsPerPage"
                        max-size="10"
                        ng-change="llc.pageChanged()">
                </uib-pagination>
            </div>
        </div>
    </div>
</div>
