<div>
  <div class="alert alert-default no-new no-data" ng-show="userContent.length === 0">
    <p class="text-center">Je hebt nog geen items toegevoegd.
      <br/><a href="/udb3/event/add">Een activiteit of monument toevoegen?</a>
    </p>
  </div>

  <div ng-show="userContent.length > 0">

    <div class="clearfix">
      <p class="invoer-title"><span class="block-header">Laatst toegevoegd</span>
        <span class="pull-right">
          <a class="btn btn-primary " href="/udb3/event/add"><i class="fa fa-plus-circle"></i> Toevoegen</a>
        </span>
      </p>
    </div>

    <div class="panel panel-default">

      <table class="table ">

        <tr ng-repeat="userContentItem in userContent">
          <td>
            <strong>
              <a ng-href="{{ ::userContentItem.exampleUrl }}" ng-bind="::userContentItem.details.name"></a>
            </strong>
            <br/>
            <small ng-switch="userContentItem.details.calendarType">
              <span ng-switch-when="single">
                <span ng-bind="::userContentItem.details.type.label"></span>
                <span> - </span>
                <span ng-bind="::userContentItem.details.startDate | date: 'dd/MM/yyyy'"></span>
              </span>
              <span ng-switch-when="permanent">
                <span ng-bind="::userContentItem.details.type.label"></span> - Permanent
              </span>
              <!-- The remaining two calendar types are 'multiple' and 'periodic', they have the same view. -->
              <span ng-switch-default>
                <span ng-bind="::userContentItem.details.type.label"></span>
                <span> - Van </span>
                <span ng-bind="::userContentItem.details.startDate | date: 'dd/MM/yyyy'"></span>
                <span> tot </span>
                <span ng-bind="::userContentItem.details.endDate | date: 'dd/MM/yyyy'"></span>
              </span>
            </small>
          </td>

          <td>
            <div class="pull-right btn-group" uib-dropdown>
              <a class="btn btn-default" ng-href="{{ userContentItem.editUrl }}">Bewerken</a>
              <button type="button" class="btn btn-default" uib-dropdown-toggle><span class="caret"></span></button>
              <ul uib-dropdown-menu role="menu">
                <li role="menuitem">
                  <a ng-href="{{ userContentItem.exampleUrl }}">Voorbeeld</a>
                </li>
                <li class="divider"></li>
                <li role="menuitem">
                  <a href="" ng-click="openDeleteConfirmModal(userContentItem)">Verwijderen</a>
                </li>
              </ul>
            </div>
          </td>

        </tr>
      </table>

    </div>
  </div>
</div>
