<div ng-controller="EventFormStep4Controller as EventFormStep4">

  <a name="titel"></a>
  <section id="titel" ng-show="eventFormData.showStep4">

    <h2 class="title-border"><span class="number">4</span> <span>Basisgegevens</span></h2>
    <label>Vul een titel in</label>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="form-group-lg">
          <input type="text"
                 class="form-control"
                 ng-model="eventFormData.name.nl"
                 ng-model-options="titleInputOptions"
                 ng-change="eventTitleChanged()">
        </div>
      </div>
      <div class="col-xs-12 col-md-8">
        <p class="text-block">
          <small>
            <ul>
              <li>Gebruik een <strong>sprekende titel</strong> voor een activiteit (bv. "Fietsen langs kappelletjes", "De Sage van de Eenhoorn")</li>
              <li>Gebruik de <strong>officiële benaming</strong> voor een locatie (bv. "Gravensteen", "Abdijsite Herkenrode", "Cultuurcentrum De Werf")</li>
            </ul>
          </small>
        </p>
      </div>
    </div>
    <p ng-show="eventFormData.id === ''">
      <a class="btn btn-primary titel-doorgaan"
          ng-click="validateEvent(true)"
          ng-class="{'disabled': eventFormData.name.nl === ''}">
        Doorgaan <i class="fa fa-circle-o-notch fa-spin" ng-show="saving"></i>
      </a>
    </p>

  </section>

  <div class="spinner" style="display: none;">
    <i class="fa fa-circle-o-notch fa-spin"></i>
  </div>

  <a name="dubbeldetectie"></a>
  <section class="dubbeldetectie" ng-show="eventFormData.name.nl !== ''">

    <div class="panel panel-info" ng-show="resultViewer.totalItems > 0">
      <div class="panel-body bg-info text-info">
        <p class="h2" style="margin-top: 0;">Vermijd dubbel werk</p>
        <p>We vonden gelijkaardige items. Controleer deze eerder ingevoerde items.</p>

        <div class="row clearfix" ng-if="eventFormData.getType() === 'event'">
          <div ng-repeat="event in resultViewer.events | filter:{'@type': 'Event'}">
            <udb-event-suggestion></udb-event-suggestion>
          </div>
        </div>

        <div class="row clearfix" ng-if="eventFormData.getType() === 'place'">
          <div ng-repeat="event in resultViewer.events | filter:{'@type': 'Place'}">
            <udb-place-suggestion></udb-place-suggestion>
          </div>
        </div>
      </div>
    </div>

    <h3 ng-show="duplicatesSearched && resultViewer.totalItems > 0">
      Ben je zeker dat je "<span ng-bind="eventFormData.name.nl"></span>" wil toevoegen?
    </h3>
    <ul class="list-inline" ng-show="duplicatesSearched && resultViewer.totalItems > 0">
      <li>
        <a class="btn btn-default" href="dashboard">Nee, keer terug naar dashboard</a>
      </li>
      <li>
        <a class="btn btn-primary dubbeldetectie-doorgaan" ng-click="saveEvent()">
          Ja, doorgaan met invoeren <i class="fa fa-circle-o-notch fa-spin" ng-show="saving"></i>
        </a>
      </li>
    </ul>

    <div class="alert alert-warning" ng-show="infoMissing">
      Gelieve alle info in te vullen vooraleer je kan opslaan.
    </div>

    <div class="alert alert-danger" ng-show="error">
      Er ging iets fout tijdens het opslaan van je activiteit. Gelieve later opnieuw te proberen.
    </div>
  </section>

</div>
