<td>
  <strong>
    <a ng-href="{{ ::event.url }}" ng-bind="::event.name"></a>
  </strong>
  <br/>
  <small>
    <span class="dashboard-item-type" ng-bind="::event.type.label"></span>
    <span ng-if="event.calendarType">
      <span> - </span>
      <udb-calendar-summary offer="event" show-opening-hours="true"></udb-calendar-summary>
    </span>
  </small>
</td>

<td>
  <div class="pull-right btn-group" uib-dropdown>
    <a class="btn btn-default" ng-href="{{ event.url + '/edit' }}">Bewerken</a>
    <button type="button" class="btn btn-default" uib-dropdown-toggle><span class="caret"></span></button>
    <ul uib-dropdown-menu role="menu">
      <li role="menuitem">
        <a ng-href="{{ ::event.url }}">Voorbeeld</a>
      </li>
      <li class="divider"></li>
      <li role="menuitem">
        <a href="" ng-click="dash.openDeleteConfirmModal(event)">Verwijderen</a>
      </li>
    </ul>
  </div>
</td>
