<div class="modal-body">
    <div class="row">

      <div class="col-xs-12" ng-if="!hasEvents">
        <p>Ben je zeker dat je "<span ng-bind="::place.name"></span>" wil verwijderen?</p>
      </div>

      <div class="col-xs-12" ng-if="hasEvents">
        <p>De locatie "<span ng-bind="::place.name"></span>" kan niet verwijderd worden omdat er activiteiten gepland zijn.</p>

        <ul>
          <li ng-click="$dismiss('navigating away')" ng-repeat="event in events" udb-event-link ng-hide="fetching"></li>
        </ul>

      </div>

      <div class="alert alert-danger" ng-show="error">
        Er ging iets fout bij het verwijderen van de locatie.
      </div>

    </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="cancelRemoval()">
    Annuleren
  </button>
  <button type="button" class="btn btn-primary" ng-disabled="hasEvents" ng-click="deletePlace()">
    Verwijderen <i class="fa fa-circle-o-notch fa-spin" ng-show="saving"></i>
  </button>
</div>
