<div class="page-header">
    <h1>Roles</h1>
</div>
<h2>Role Toevoegen</h2>

<form name="creator.form" class="css-form" novalidate>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group" udb-form-group>
                <label class="control-label" for="label-name-field">Naam</label>
                <input id="label-name-field"
                       class="form-control"
                       name="name"
                       type="text"
                       udb-unique-label
                       ng-minlength="3"
                       ng-required="true"
                       ng-maxlength="255"
                       ng-model="creator.role.name"
                       ng-model-options="{debounce: 300}"
                       ng-disabled="creator.creating">
                <p class="help-block" ng-if="creator.form.name.$error.uniqueRole">Er bestaat al een role met deze naam.</p>
                <p class="help-block" ng-if="creator.form.name.$error.required">Een role naam is verplicht.</p>
                <p class="help-block" ng-if="creator.form.name.$error.minlength">Een role moet uit minstens 3 tekens bestaan.</p>
                <p class="help-block" ng-if="creator.form.name.$error.maxlength">Een role mag maximum 255 tekens bevatten.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group" udb-form-group>
                <label class="control-label" for="label-name-field">Bewerkrecht</label>
                <input id="label-name-field"
                       class="form-control"
                       name="editPermission"
                       type="text"
                       ng-maxlength="255"
                       ng-model="creator.role.editPermission"
                       ng-model-options="{debounce: 300}"
                       ng-disabled="creator.creating">
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <uib-tabset>
          <uib-tab heading="Permissies">
            <div class="row">
              <div class="col-md-11">
                <udb-query-search-bar search-label="Zoeken op labelnaam"
                  on-change="llc.queryChanged(query)"
                ></udb-query-search-bar>
              </div>
              <div class="col-md-1">
                <i ng-show="llc.loading" class="fa fa-circle-o-notch fa-spin"></i>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <table class="table">
                  <tr ng-repeat="i in [1,2,3,4,5]">
                    <td><input type="checkbox"></td>
                    <td>Aanbod invoeren</td>
                  </tr>
                </table>
              </div>
            </div>
          </uib-tab>
          <uib-tab heading="Leden">
            Leden
          </uib-tab>
          <uib-tab heading="Labels">
            Labels
          </uib-tab>
        </uib-tabset>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button ng-disabled="!creator.form.$valid || creator.creating"
          type="button"
          class="btn btn-primary"
          ng-click="creator.create()">
          Aanmaken <i class="fa fa-circle-o-notch fa-spin" ng-show="creator.creating"></i>
        </button>
      </div>
    </div>
</form>
