<h1 class="title" id="page-title">
    Rollen
</h1>
<div class="row">
    <udb-query-search-bar qsb-label="Zoeken op rolnaam" qsb-emit="roleSearchSubmitted"></udb-query-search-bar>
</div>
<div class="text-center" ng-show="rlc.loading">
    <i class="fa fa-circle-o-notch fa-spin"></i>
</div>

<div class="row" ng-cloak ng-show="!rlc.loading">
    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Naam</th>
                    <th>Opties</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="rol in rlc.roles">
                    <td>{{ rol.name }}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Bewerken <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Bewerken</a></li>
                                <li><a href="#">Verwijderen</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <uib-pagination
                total-items="rlc.pagedItemViewer.totalItems"
                ng-model="rlc.pagedItemViewer.currentPage"
                items-per-page="rlc.pagedItemViewer.pageSize"
                ng-show="rlc.pagedItemViewer.totalItems > 0"
                max-size="10"
                ng-change="rlc.pageChanged()">
        </uib-pagination>
    </div>
</div>
