<div class="page-header">
    <h1>Labels</h1>
</div>
<h2>Label Toevoegen</h2>

<form name="creator.form" class="css-form" novalidate>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="label-name-field">Naam</label>
                <input id="label-name-field"
                       class="form-control"
                       name="name"
                       type="text"
                       udb-unique-label
                       ng-minlength="3"
                       ng-required="true"
                       ng-maxlength="255"
                       ng-model="creator.label.name"
                       ng-model-options="{debounce: 300}"
                       ng-disabled="creator.creating">
            </div>
        </div>
        <div class="col-md-6">
            <div ng-show="creator.form.name.$error.uniqueLabel" class="alert alert-warning" role="alert">
                Er bestaat al een label met deze naam!
            </div>
            <div ng-show="creator.form.name.$error.minlength" class="alert alert-warning" role="alert">
                Een label moet uit minstens 3 tekens bestaan.
            </div>
            <div ng-show="creator.form.name.$error.maxlength" class="alert alert-warning" role="alert">
                Een label mag maximum 255 tekens bevatten.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="checkbox">
                <label>
                    <input type="checkbox"
                           ng-model="creator.label.isVisible"> Tonen op publicatiekanalen
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"
                           ng-model="creator.label.isPrivate"> Voorbehouden aan specifieke gebruikersgroepen
                </label>
            </div>
        </div>

        <div class="col-md-12">
            <button ng-disabled="!creator.form.$valid || creator.creating"
                    type="button"
                    class="btn btn-primary"
                    ng-click="creator.create()">
                Aanmaken <i class="fa fa-circle-o-notch fa-spin" ng-show="creator.creating"></i>
            </button>
        </div>
    </div>
</form>