<div class="page-header">
    <h1>Labels</h1>
</div>
<h2>Label bewerken</h2>

<div ng-show="!editor.label && !editor.loadingError">
    <i class="fa fa-circle-o-notch fa-spin"></i>
</div>

<div ng-show="editor.label">
    <label for="label-name-field">Naam</label>
    <input id="label-name-field" type="text" ng-model="editor.label.name" ng-disabled="editor.renaming">
    <button ng-disabled="editor.renaming" type="button" class="btn btn-primary" ng-click="editor.rename()">
        Hernoemen <i class="fa fa-circle-o-notch fa-spin" ng-show="editor.renaming"></i>
    </button>
    <br>
    <label>
        <input type="checkbox"
               ng-change="editor.updateVisibility()"
               ng-model="editor.label.isVisible"> Tonen op publicatiekanalen
    </label>
    <br>
    <label>
        <input type="checkbox"
               ng-change="editor.updatePrivacy()"
               ng-model="editor.label.isPrivate"> Voorbehouden aan specifieke gebruikersgroepen
    </label>
</div>

<div ng-show="editor.loadingError">
    <span ng-bind="editor.loadingError"></span>
</div>
