<ui-select multiple
           tagging="select.createLabel"
           ng-model="select.labels"
           reset-search-input="true"
           tagging-tokens="ENTER|;"
           on-select="select.labelAdded({label: $item})"
           on-remove="select.labelRemoved({label: $item})">
    <ui-select-match placeholder="Voeg een label toe...">{{$item.name}}</ui-select-match>
    <ui-select-no-choice ng-show="$select.search.length >= select.minimumInputLength &&">
        <div class="udb-label-select-refreshing" style="padding: 3px 20px">
            <i class="fa fa-circle-o-notch fa-spin"></i> Suggesties laden
        </div>
    </ui-select-no-choice>
    <ui-select-choices repeat="label in select.availableLabels track by label.name"
                       ng-show="$select.search.length >= select.minimumInputLength &&"
                       ui-disable-choice="select.refreshing"
                       refresh="select.suggestLabels($select.search)"
                       refresh-delay="0"
                       minimum-input-length="{{select.minimumInputLength}}">
        <div>
            <span ng-bind-html="label.name | highlight: $select.search"></span>
            <span ng-if="!label.id"> (nieuw label toevoegen)</span>
        </div>
    </ui-select-choices>
</ui-select>