<div class="udb-job-log" ng-class="{'shown': logger.isVisible()}">
 <div class="udb-job-log-header">
     <div class="row">
         <div class="col-sm-12">
            <button type="button" class="close" ng-click="logger.hideJobLog()"><span aria-hidden="true">&times;</span></button>
         </div>
     </div>
 </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="udb-job-block udb-job-block-ready">
        <p class="udb-job-title">Geëxporteerde documenten</p>
        <ul class="list-unstyled udb-job-messages">
          <li class="alert repeat-animation" ng-repeat="job in logger.getFinishedExportJobs()">
            <udb-job></udb-job>
          </li>
        </ul>
      </div>

      <div class="udb-job-block udb-job-block-errors">
        <p class="udb-job-title">Meldingen <span class="badge" ng-bind="logger.getFailedJobs().length"></span></p>
        <ul class="list-unstyled udb-job-messages">
          <li class="alert repeat-animation" ng-repeat="job in logger.getFailedJobs()">
            <udb-job></udb-job>
          </li>
        </ul>
      </div>

      <div class="udb-job-block udb-job-block-pending">
        <p class="udb-job-title">Bezig</p>
        <ul class="list-unstyled udb-job-messages">
          <li class="alert repeat-animation" ng-repeat="job in logger.getQueuedJobs()">
            <udb-job></udb-job>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="udb-job-log-overlay" ng-class="{'shown': logger.isVisible()}" ng-click="logger.hideJobLog()"></div>
